body {
  background-image: url("../../images/hiker.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.logo {
  float: left;
  padding:5px 0;
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
}

.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background: navy;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-navigation__logo {
  display: flex;
  align-items: center;
}

.main-navigation__logo h1 {
  padding:5px 0;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(2, 170, 170);
}

.main-navigation__items {
  margin-left: 1.5rem;
}

.main-navigation__items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.main-navigation__items li {
  margin: 0 1rem;
}

.main-navigation__items a,
.main-navigation__items button {
  text-decoration: none;
  color: aliceblue;
  padding: 0.25rem 0.5rem;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active,
.main-navigation__items button:hover,
.main-navigation__items button:active {
  background: aliceblue;
  color: #0c3b47;
  border-radius: 5px;
}