.events-control {
    text-align: center;
    border: 1px solid teal;
    padding: 1rem;
    margin: 2rem auto;
    width: 33rem;
    max-width: 85%;
    background-color: aliceblue;
    opacity: .85;
    z-index: -10;
  }

.banner {
  font-size: 1.5rem;
}